{% extends "base.html" %}
{% block content%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/create_game.css') }}">
<title>Выбор режима</title>

<div id="main">
    <p>Выберите режим</p>
    <div>

        <a href="/game_process" class="games">Одиночная игра
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
        <a href="#" class="games">Играть с друзьями
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</div>
{% endblock %}