{% extends "base.html" %}
{% block content%}
<style>
    div {
        margin-bottom: 30px;
    }
</style>
{% for exp in tasks_exp %}
<div>
    <p>{{ exp }}</p>
    <input placeholder="Ваш ответ">
</div>
<br>
{% endfor %}
<script>
    let button = document.querySelector('#button');
    let answers = {{ tasks_ans }};
    button.addEventListener("click", function() {
    let inputs = document.querySelectorAll("#test input);
    let point = 0;
    let i = 0;
    for (let input of inputs) {
    }
        if (input.value == answers[i]) {
        point++;
        alert(point);}
        i++;
    }};
    ;
</script>

<button>Проверить</button>
{% endblock %}