{% extends "base.html" %}
{% block content%}
<title>Регистрация</title>
<nav>
    <ul>
        <li><a href="/login">Войти</a></li>
        <li><a href="/register">Создать аккаунт</a></li>
    </ul>
</nav>
<h1>Создать аккаунт</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form action="{{ url_for('register') }}" method="post">
    <label for="username">Имя:</label>
    <input type="text" name="username" required />
    <label for="password">Пароль:</label>
    <input type="password" name="password" required />
    <button type="submit">Создать</button>
</form>
{% endblock %}